/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  
  body {
    font-family: sans-serif;
    max-width: 1300px;
    margin: 0 auto;
    background-color: white;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }

  .contact{
    padding: 10px;
    font-weight: 600;
    background-color: rgb(217, 217, 217);
    border-radius: 10px;
    color: black;
  }
  /* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: black;
    margin-top: 10px;
  }
  
  .nav-links a {
    font-family: sans-serif;
    font-weight: 700;
  }
  
  /* LOGO */
  .logo {
    font-size: 32px;
    font-weight: bold;
  }
  
  /* NAVBAR MENU */
  .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
  }

  .menu > li > a {
    color: black;
  }
  
  .menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  .menu li {
    padding: 5px 14px;
  }
  
  /* DROPDOWN MENU */
  .services {
    position: relative; 
  }
  
  .dropdown {
    background-color: rgb(1, 139, 139);
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
  }
  
  .dropdown li + li {
    margin-top: 10px;
  }
  
  .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
  }
  
  .dropdown li:hover {
    background-color: #4c9e9e;
  }
  
  .services:hover .dropdown {
    display: block;
  }

  /* RESPONSIVE NAVBAR MENU STARTS */

/* CHECKBOX HACK */

input[type=checkbox] {
    display: none;
  } 
  
  /* HAMBURGER MENU */
  .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
  }

  .emailInnerContainer{
    display: flex;
    gap: 20px;
    width: 100%;
  }
  

  /* APPLYING MEDIA QUERIES */
  @media (max-width: 768px) {
    .hero-session{
        display: flex;
        flex-direction: column;
      }

      .vision{
        text-align: center;
      }

      .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        column-gap: 20px;
      }

      .btns{
        text-align: center;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .mainEye{
        width: 300px;
        height: 300px;
      }
   .menu {
      display:none;
      position: absolute;
      background-color:teal;
      right: 0;
      left: 0;
      text-align: center;
      padding: 16px 0;
    }

    .content{
      text-align: center;
      margin: 20px 0;
    }
  
    .contact{
        display: none;
    }
    .menu li:hover {
      display: inline-block;
      background-color:#4c9e9e;
      transition: 0.3s ease;
    }
  
    .menu li + li {
      margin-top: 12px;
    }
  
    input[type=checkbox]:checked ~ .menu {
      display: block;
    }
  
    .hamburger {
      display: block;
    }
  
    .dropdown {
      left: 50%;
      top: 30px;
      transform: translateX(35%);
    }
  
    .dropdown li:hover {
      background-color: #4c9e9e;
    }
  }


  .hero-session{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  .mainText{
    font-size: 37px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
  }

  .content{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
  }

  .content > p{
    font-size: 18px;
    font-family: sans-serif;
    line-height: 2;
  }

  .btn1{
    background-color: rgb(217, 217, 217);
    padding:10px 18px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }

  .btn2{
    background-color: white;
    padding:10px 18px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    color: black;
    border: 1px solid black;
    cursor: pointer;
  }

  .btns{
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .vision{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .under{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: sans-serif;
    margin-bottom: 20px;
  }

  .card{
    width: 300px;
    height: 300px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;
  }

  .cardContent{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .cardContent > h3{ 
    font-weight: 400;
  }

  .cardContent > p{
    font-size: 14px;
    font-weight: 400;
  }

  .emailContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
  }

  .emailInnerContainer{
    width: 100%;
    height: 400px;
    background-color: #51DBFF;
    border-radius: 20px;
    border: none;
  }

  .team{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
  }
  .team-content{
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    align-items: center;
    gap: 2rem;
    text-align: center;
    margin-top: 4rem;
  }
  .team-content img{
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 15px;
  }
  .center h1{
    color: #fff;
    font-size: 4rem;
    text-align: center;
  }
  .box{
    padding: 16px;
    background: #1b1229;
    border-radius: 15px;
    transition: all .38s ease;
  }

  .heroLogo{
    animation: move ease 1s infinite alternate ;
  }

  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
  }

  .reveal.active{
    transform: translateY(0px);
    opacity: 1;
  }

  @keyframes move {
    from{
      transform: translateY(-25px);
    }
  }
  .box h3{
    font-size: 23px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 8px;
  }
  .box h5{
    font-size: 15px;
    font-weight: 600;
    color: #b7b4bb;
    margin-bottom: 15px;
    letter-spacing: 2px;
  }
  .icons i{
    display: inline-block;
    color: #fff;
    font-size: 20px;
    margin: 0 8px;
    transition: all .38s ease;
  }
  .icons i:hover{
    transform: scale(1.2);
  }
  .box:hover{
    transform: translateY(-10px);
    cursor: pointer;
  }
  
  @media(max-width: 1240px){
    .team{
      width: 100%;
      height: auto;
      padding: 90px 2%;
    }
    .center h1{
      font-size: 3.2rem;
    }
  }

  .emailSection{
    display: flex;
    background-color: #51DBFF;
  }

  .emailText{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 50%;
    text-align: left;
    justify-content: center;
    padding: 10px;
  }

  .sub{
    border: 2px solid gray;
    border-radius: 10px;
    width: 100%;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    width: 80%;
  }
  

  .emailInput{
    border: none;
    padding: 8px;
  }
  .emailInput:focus{
    border: none;
    outline: none;
  }

  .emailBtn{
    border: none;
    background-color: burlywood;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 6px;
    color: white;
    padding: 10px;
    cursor: pointer;

  }

  .emailLogo{
    flex: 1;
  }

footer{
  margin: 40px 0;
  width: 100%;
}

.foot{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.foot > ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.foot > ul > li{
  font-size: 18px;
  cursor: pointer;
}
